<div class="panel panel-default">
  <div class="panel-heading">
    <h1>{{ contact.name }}</h1>
    <img
      src="{{ contact.imageUrl }}"
      alt="{{ contact.name }}"
      class="img-responsive"
      style="max-height: 300px"
    />
    <a [routerLink]="['edit']" class="btn btn-primary pull-right" type="button"
      >Edit</a
    >
    <a class="btn btn-danger pull-right" type="button" (click)="onDelete()"
      >Delete</a
    >
  </div>
  <div class="panel-body">
    <h5>Phone: {{ contact.phone }}</h5>
    <h5>Email: {{ contact.email }}</h5>
  </div>
</div>
